* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body {
    padding: 20px 200px;
    min-height: 100vh;
    background-color: rgb(252, 249, 242);
}
#root {
    min-height: calc(100vh - 40px);
}
@media (max-width: 900px) {
    body {
        padding: 20px 150px;
    }
}
@media (max-width: 720px) {
    body {
        padding: 20px 100px;
    }
}
@media (max-width: 530px) {
    body {
        padding: 20px 70px;
    }
}
@media (max-width: 450px) {
    body {
        padding: 20px 30px;
    }
}
